

body {
	margin: 0;
	padding: 0;
	border: none;
	font-family: Helvetica,Arial,'sans-serif';
	background-color: #e9ebee;
	display: absolute;
}

header {
	background-color: #3b5998;
	min-height: 95px;
	height:95px;
	min-width: 990px;
	width:1350px;
	border: none;

}
header form label {
	color: white;
	font-family: 'lucida sans';
	font-size: 0.98em;
	letter-spacing: normal;
}
header form input {
	width: 150px;
	height: 23px;
	border: 0.5px solid #020826;
	font-size: 0.98em;
}
#facebook_logo {
	margin-left: 2.4em;
}
.login_quote {
	color: #9cb4d8;
	text-decoration:none;
	font-weight:light;
	text-height:12px;
	font-family:helvetica;
}
.login_quote a:link{
	color: #9cb4d8;
	text-decoration:none;
}
.login_quote a:visited{
	color: #9cb4d8;
	text-decoration:none;
}
.login_quote a:hover{
	color: #9cb4d8;
	text-decoration:underline;
}
.login_quote a:active{
	color: #9cb4d8;
	text-decoration:none;
}

main {
	background: linear-gradient(white, #D3D8E8);
	width: 1350px;
	min-width:990px;
	height: 560px;
	font-family: 'Freight Sans Bold', Helvetica,
	 Arial, sans-serif !important;
	margin: 0;
	font-size: 16px;
	font-weight: bold !important;
    letter-spacing: normal !important;
    text-rendering: optimizelegibility;
    color: #333 !important;
}
footer {
	height: 215px;
	width: 1350px;
	min-width:990px;
	
	bottom: 0px;
	background-color: #fff;
}

#logo {
	float: left;
	display: inline-block;
	position: relative;
	left: 146px;
	bottom: 0;
	padding-bottom: 0;
	margin-top: 26px;
	border: none;

}
.login_form {
	display: inline-block;
	color: white;
	font-family: inherit;
	margin: 0;
	margin-left:100px;
	width: 450px;
	height: inherit;
	position: relative;
	float: right;
	padding-left: 10px;
	display: flex;
	
	right:120px;
}
#email_form, #password_form {
	padding-top: 30px;
	padding-left: 15px;
	font-family: 'nirmala ui', helvetica;
}
.email_label {
	padding-bottom: 10px;
}
.login_button {
	padding-top: 46.5px;
	padding-left: 13px;
}
#login_button {
	width:48px;
	height: 24px;
	font-size: 0.88em;
	text-align: center;
	background-color: #375c96;
	border: 1px solid #152f59;
	border-radius: 2px;
	color: white;
	font-weight: bold;
	padding-left: 5px;
	cursor: pointer;
}
#login_button:focus, #login_button:active, #login_button:visited{
	border: 0.6px solid #2b456d;
}
 #login_button{
	background-color:#4b7ac6;
	border: 0.6px solid #2b456d;
}
 #login_button:hover{
	background-color:#375c96;
	border: 0.6px solid #2b456d;
}
.email_input, .password_input{
	width: 150px;
	height: 30px;
}

.email_input input, .password_input input {
	height: 22.5px;
	border-color: blue;
	background-color: rgb(250, 255, 189) !important;
	font-size:12.5px;
}
.mainImage {
	position: relative;
	float: left;
	width: 55%;
	font-size: 1.5em;
	font-family: inherit;
	color: black;
	padding: 10px;
}
.mainImage h2 {

	padding-right: 1px;
	width: 650px;
	font-size: 1.14em;
}
.mainForm {
	position: absolute;
	float:right;
	right: 110px;
	width: 500px;
	display: block;
	
	height: inherit;
	margin: 0;
	padding-left:35px;
	padding-top:2px;
}
@media only screen and (max-width:1350px){
	.mainForm {
	position: relative;
	float:right;
	right: 110px;
	width: 500px;
	display: block;
	
	height: inherit;
	margin: 0;
	padding-left:35px;
	padding-top:2px;
}
}
.mainForm h2 {
	font-size: 30px;
	font-family: inherit;
	color: black;
	padding: 0.25em;
	padding-left:0;
	top: 0;
	border:1px solid black;
	
	margin: 20px 0 0 0;
}
#create {
	font-size:36px;
	color:#252626;
	border:none;
}
#create2 {
	font-size:18px;
	color:#252626;
	font-weight:lighter;
}
.mainForm h4 {
	font-size: 16px;
	padding: 0.25em;
	padding-left:0;
	position: relative;
	top: 0;
	margin: 0 0 12px 0;
}
.mainImage img {
	margin: 20px;
	margin-left:170px;
	margin-top:0;
	

}

#heading {
	font-size:20px;
	color:#364359;
	margin-left:170px;
	margin-top:30px;
	margin-bottom:4px;
}
.mainForm_footer {
	position: absolute;
	bottom: 20px;

}
.mainForm input {
	width: 100px;
	height: 38px;
	border-radius: 5px;
	font-size: 18.5px;
	letter-spacing: normal;
	background-color: #f5f5f5;
	border: 1.3px solid #bdc7d8;
    margin: 8.5px;
    padding:0;
    padding-left: 5px;
    text-indent:5px;
 }

 @media only screen and (max-width:990px){
	/*when the width is 990px or less*/
	.mainForm {
		position:absolute;
		margin:0;

	}
}
 .mainForm input::placeholder {
 	font-size: 18.5px;
 	margin-left: 10px;
 	color:rgba(106, 108, 112, 0.6);
 }
#password2 {
	margin: 0px 0px 18px 0px;
}
#surname, #first_name {
	width: 179px !important;
	margin-bottom: 2px !important;

}
#surname, #first_name {
	margin: 7px 10px 7px 0px;
	background-color: white;
}
.invalidated:invalid {
	background-image:url(facebook_icons_2.png);
	background-size:18px 18px;
	background-repeat:no-repeat;
	background-position:95% 50%;
	border:1.3px solid red;
}
.mainForm label {
	letter-spacing: normal;
	margin: 100px 0px 20px 0px;
	font-size: 20px;

}
#email_phone, #password2 {
	width: 372px;
	background-color: white;
	margin-left:0;
}
* {
	box-sizing: border-box;
	font-family:inherit;
}
select {
	
	padding: 1px;
	margin: 0;
	height: 24px;
	position: relative;
	border:0.8px solid #c0c5cf;
	overflow: hidden;
	box-sizing: border-box;
	background-color: white ;
}
option {
	background-color: white;
	font-size: 12px;
	text-align: center;
}
#birthday {
	width: 175px;
	display: flex;
	height: 40px;
	font-size: 8.5px;
	margin-top:0;
	margin-left:0;
	padding: 0;
	font-family: arial;
	align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    cursor: default;
    position: absolute;
}
#birthday_label {
	font-weight: normal !important;
	font-size: 18px;
	margin:0;
	margin-top:10px;
	display: block;
	z-index:2;
	padding:0;
	box-sizing:border-box;
	
}
#birthday_container {
	
}
#birthday select {
	height:30px;
	margin-top:0;
	padding-bottom:0;
}
select option {
	font-size:14px;
}
select #day {
	width: 15%;
	margin: 0;
	margin-top:100px;
	padding: 0;
	display: inherit;
	font-size: 8px;

}
select #month {
	width: 60%;
	margin: 0;
	padding: 0;
	display: inherit;
	font-size: 8px;
}
select #year {
	width: 25%;
	margin: 0;
	padding: 0;
	display: inherit;
	font-size: 8px;

}
select::-webkit-scrollbar {
	width: 4px;
}
select::-webkit-scrollbar-track {
	background-color: #e9ebee;
}
select::-webkit-scrollbar-thumb {
	background-color:#bdc7d8;

}
select::-webkit-scrollbar-thumb:hover {
	background-color:#bdc7d8;
	opacity: 0.5;
}
.signup_indications {
	color: #365899;
	padding: 2px;
	width: 40%;
	-webkit-appearance: none;
	display: inline;
	font-size:11px;
	font-weight:lighter;
}

main a:link {
	color: #365899;
	text-decoration: none;
}
main a:visited {
	color: #365899;
	text-decoration: none;
}
main a:hover {
	color: #777777;
	text-decoration: underline;
}
main a:active {
	color: #365899;
	text-decoration: none;
}

footer {
	color: blue;
	font-size: 10px;
	text-align: center;

}

footer span:visited, footer span:checked,
 footer span:active {
 	color: #8a8a8a;
 }

 footer span {
 	margin: 5px;
 	padding:0;
 	letter-spacing: 0.65px;

 }

 footer button {
 	border:0.8px solid #c0c5cf;
 	font-weight: 900;
 	border-radius: 2px;
 }
 .footer_lang {
 	padding-top: 20px;
 }
 #signup {
 	width: 200px;
 	height: 40px;
 	position: absolute;
 	margin: 20px 0px 0px 0px ;
 	border-radius: 5px;
 	margin-bottom: 10px;
 	bottom: 30px;
 	
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
  }
  input.signup {
  	color:white !important;
  	background-color: #69a74e;
  	cursor:pointer !important;
  }
  input.signup:hover{
  	
  	background: linear-gradient(#67ae55, #578843);
  }
  
  .signup_text {
  	color: white;
  	font-size: 21px;
  	text-align: center;
  	font-family: arial;
  	z-index: 3;
  	
  }
  main a:hover button {
 	background: linear-gradient(rgba(103,174,85,0.6), rgba(87,136,67,0.6));
 }
 .note {
 	font-size: 11px;
 	color: #777;
 	width: 339px;
 	line-height: 1.2;
 	position: absolute;
 	bottom: 88px;
 	margin-bottom: 10px;
 	font-weight:lighter;
 	padding:0;
 	z-index:3;
 }
 a {
 	padding:0;
 	margin:0;
 }
 .gender {
 	width: 140px;
 	height: 50px;
 	display:flex;
 	position: absolute;
 	bottom: 130px;
 	left: 20px;
 	vertical-align: middle;
 	margin-top:50px !important;
 	padding-left:0;
 	
 	font-size:5px;
 	text-align:left;
 	
 }
 .gender_option {
 	vertical-align: middle;
 	padding-bottom: 20px;
 	font-size: 14px;
 	display: absolute;
 	bottom: 0;

 }
 #gender_name {
 	position:absolute;
 	right:20px;
 	font-size:16px;
 	font-family:Helvetica,Arial;
 	font-weight:normal;
 }
 #gender_name2{
 	position:absolute;
 	right:40px;
 	font-size:16px;
 	font-family:Helvetica,Arial;
 	font-weight:normal;
 }
 .gender2{
 	width: 140px;
 	height: 50px;
 	display:flex;
 	position: absolute;
 	bottom: 130px;
 	left: 112px;
 	vertical-align: middle;
 	margin-top:50px !important;
 	padding-left:0;
 	
 	font-size:5px;
 	text-align:left;
 }
input[type=radio] {
	-ms-transform: scale(0.35);
	-webkit-transform: scale(0.35);
	transform: scale(0.35);
	vertical-align: top;
	position:absolute;
	display:flex;
	bottom:15px;
	left:0;
	z-index:2;
	margin-left:0;
}
.copyright {
	color: #777;
	font-size: 11px;
	position: relative;
	left: 0;
	bottom: 0;
	text-align: left;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top:20px;
	
}
.footer_container {
	width: 78%;
	height: 90%;
	display: block;
	margin: auto;
	position: relative;
	bottom: 0;
	padding-top: 50px;
	padding-bottom: 0;
	text-align: left;
	color: #365899;
}
.footer_menus {
	font-size: 12px;
	padding: 5px 0px 10px 0px;
	line-height: 17px;
	text-indent: 0px;
	
	width:1080px;
	text-align:left;
}
span.footer_menu_text{
	padding-right:15px;
	padding-left:0;
	text-align:left;
	display:inline;
	margin:0;
	
}
span.footer_menu_text2{
	padding-right:23px;
	padding-left:0;
	text-align:left;
	display:inline;
	margin:0;
	
}
.footer_lang {
	font-size: 12px;
	padding-left: 0;
	text-indent: 0px;
}
footer a:link {
	cursor: pointer;
	color: #365899;
	text-decoration: none;
}
footer a:visited {
	color: #365899;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
	cursor: pointer;
	
	color: #777;

}
footer a:active {
	color: #365899;
	text-decoration: none;
}
hr {
	border: 0.5px solid rgba(189,199,216,0.5);
}

input:focus, select:focus,
 textarea:focus, button:focus{
 	outline:none;
}
.addLang {
	width:40px;
	height:22px;
	margin:0 8px;
	font-size:22px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	background-color:#eaecef;
	border: 1.3px solid #bdc7d8;
	border-radius:2px;
	cursor:pointer;
	color:#818284;
	text-rendering:optimizelegibility;
	padding:1px;
	padding-left:5px;
	padding-right:5px;

}

.addLang:hover {
	background-color:#e3e4e5; 

}
.khalid{
	display:absolute;
	float:right;
	font-family:'courier new';
	color: #777;
}
.adchoices{
	background-image:url(facebook_icons_1.png);
	background-size:14px 14px;
	background-position:84% 50%;
	background-repeat:no-repeat;
}
